.title {
  margin-right: 1em;
}

.circle {
  height:25px;
  width:25px;
  border-radius: 50px;
  background: red;
  color: white;
  margin-top: 15px;
  margin-right: 10px;
  font-size: 13pt;
  text-align: center;
}
